---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Homo Page";
---
<BaseLayout  pageTitle={pageTitle}>
  <h2>This is the place where stuff goes, when you put <code>&lt;slot /></code> in the BaseLayout.astro file.  Everything above and below this is from the imported layout file.</h2>
</BaseLayout>